body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTDspMSthdkn_yLuA4orZlUTkC5VPQ4FS6uK8aCMOPZhjSYoW7c");

    background-repeat: no-repeat;

    background-size: 100%;
}